<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/machine_learning/assets/css/custom.css" />
</head>
<body>

  <h1>{{ page.title }}</h1>

  {{ content }}

  <footer class="license">
    © 2025 Valle Suñe 
    <br/>
    Este curs es distribueix baix la llicencia
    <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons BY 4.0 ES</a>
    <br/>
    <a href="https://creativecommons.org/licenses/by/4.0/es/">
      <img src="https://i.creativecommons.org/l/by/4.0/es/88x31.png" alt="Licencia CC BY 4.0 ES" />
    </a>
  </footer>

</body>
</html>
